footer {
  background-color: $light;
  height: $footerHeight;
  @include fCentre();
  color: $darkest;
  font-size: 14px;

  img {
    padding: 0 10px;
    height: 20px;
    width: auto;
    @include hoverActive();
  }
}
