header {
  aspect-ratio: 900/600;
  width: 100%;
  height: $headerHeight;
  background-color: $darkest;

  @include fCentre();
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 60px;

  .header-title {
    font-size: 56px;
    font-family: $headerFont;
    color: #ededed;
  }

  .signed-in {
    @include fCentre();
    gap: 40px;

    p {
      color: $light;
    }
  }
}
