header {
  width: 100%;
  height: $headerHeight;
  background-color: $dark;

  @include fCentre();
  justify-content: space-between;
  padding: 20px 60px;

  .title-logo-area {
    @include fCentre();
    align-items: center;
    margin-top: 40px;

    .canvas-container {
      width: 150px;
      height: 150px;
      cursor: grab;
    }

    .link {
      padding-bottom: 40px;
    }
  }

  .header-title {
    font-size: 56px;
    font-family: $headerFont;
    color: #ededed;
  }

  .signed-in {
    @include fCentre();
    gap: 40px;

    p {
      color: $light;
    }
  }
}
