section {
  background-color: #b9b9b9;
  height: calc($bodyHeight + 20vh);
  @include fCentre(column);
  justify-content: flex-start;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .levels-area {
    width: 100vw;
    @include fCentre();
    gap: 5vw;

    .level-btn {
      position: relative;
      @include hoverActive();

      &:hover {
        transform: scale(1.03);
      }
    }

    .disabled-level-container {
      opacity: 0.4;
      position: relative;
    }

    .level-status {
      position: absolute;
      right: 10px;
      bottom: 5px;
      width: 32px;
      height: auto;
    }
  }

  h2 {
    margin-top: 50px;
  }
}
