.leaderboard-container {
  @include fCentre();

  table {
    border-collapse: collapse;
    width: 70vw;

    th,
    td {
      border-bottom: 3px solid $darkest;
      padding: 10px;
      text-align: center;
    }

    td {
      background-color: $light;
      color: $dark;
    }

    th:nth-child(n + 1),
    td:nth-child(n + 1) {
      width: 20%;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 60%;
    }

    .leaderboard-medal {
      height: 40px;
      width: auto;
    }

    thead tr {
      background-color: $darkest;
      th {
        color: $light;
      }
    }
  }
}
