$darkest: #303030;
$dark: #5c5c5c;
$light: #f4f4f4;
$lightest: #ffffff;

$headerFont: 'Patrick Hand', sans-serif;
$bodyFont: 'Patrick Hand', sans-serif;

$headerHeight: 20vh;
$bodyHeight: 65vh;
$footerHeight: 10vh;

$transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
