$darkest: #00311d;
$dark: #006344;
$light: #dddddd;
$lightest: #ffffff;

$headerFont: 'Alata', sans-serif;
$bodyFont: 'Arial', sans-serif;

$headerHeight: 20vh;
$bodyHeight: 65vh;
$footerHeight: 10vh;

$transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
