$darkest: #2e2e2e;
$dark: #404040;
$light: #b9b9b9;
$lightest: #ededed;

$headerFont: 'Alata', sans-serif;
$bodyFont: 'Arial', sans-serif;

$headerHeight: 30vh;
$bodyHeight: 65vh;
$footerHeight: 10vh;

$transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
