@import-normalize;

@import './styles/Fonts';
@import './styles/Variables';
@import './styles/Mixins';

@import './styles/Header';
@import './styles/Home';
@import './styles/Levels';
@import './styles/Leaderboard';
@import './styles/Footer';
@import './styles/Loading';
@import './styles/Timer';
@import './styles/ErrorMsg';
@import './styles/Countdown';
@import './styles/MediaQueries';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: $bodyFont;
  color: $darkest;
  overscroll-behavior-y: none;
}

body {
  font-size: 18px;
}

button {
  padding: 10px 20px;
  background: $lightest;
  border: 2px solid $darkest;
  color: $darkest;
  font-weight: 900;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  @include hoverActive;
}

.link {
  text-decoration: none;
}

.login-prompt {
  height: $bodyHeight;
  @include fCentre();

  button {
    padding: 40px 80px;
    background-color: $darkest;
    color: $lightest;
    font-size: 24px;
  }
}
